<html lang="ja">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <style>
            body{
                padding-top:5%;
                position:relative;
                text-align:center;
            }
            button{
                margin-top:2%;
            }
        </style>
    </head>
    <body>
        <h2>クイズ作成アプリ</h2>
        <button class="btn btn-primary" onclick="location.href='/sadmin/makequiz'">クイズを作成する</button>
        <button class="btn btn-primary" onclick="location.href='/sadmin/quizlist'">クイズを閲覧する</button>        
    </body>
</html>