<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <style>
            body{
                padding-top:5%;
                position:relative;
                text-align:center;
            }
            button{
                margin-top:2%;
            }
        </style>
    </head>
    <body>
        <h2>クイズ作成アプリ</h2>
        クイズを無事登録できました
        <button class="btn btn-outline-primary" onclick="location.href='/sadmin'">TOPへ戻る</button>
        <button class="btn btn-outline-primary" onclick="location.href='/sadmin/addquiz/{{quiz_id}}'">問題を追加する</button>
    </body>
</html>